table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  margin: 2px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
input:focus {
  outline: none;
}
input {
  width: 120px;
  height: 4vh;
}
button {
  width: 100px;
  height: 7vh;
}
.edit-btn {
  background-color: blue;
  color: white;
}

.delete-btn {
  background-color: red;
  color: white;
}

#addBtn {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
